@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #fff;
  overscroll-behavior: none;
}

body.no-scroll {
  overflow-y: hidden !important;
  height: 100vh;
  position: fixed;
  width: 100%;
}

@theme {
  --font-helve: "helve-light";
  --font-helve-italic: "helve-italic";
  --font-helve-roman: "helve-roman";
  --font-inter-bold: "inter-bold";
  --font-inter-extrabold: "inter-extrabold";
  --font-inter-medium: "inter-medium";
  --font-inter-regular: "inter-regular";
  --font-inter-semibold: "inter-semibold";
  --color-dark-primary: #1A1A1A;
  --color-hero-box: #E3E3E7;
  --color-floating-nav: #F0F0F0;
  --hero-heading: translate3d(10px, 51px, -60px) rotateY(20deg) rotateX(-40deg);
  --hero-heading-origin: -50% 50% 150px;
  --will-change: opacity, transform;
}

@layer base {
  @font-face {
    font-family: "helve-light";
    src: url("/fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "helve-roman";
    src: url("/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  }

  @font-face {
    font-family: "inter-bold";
    src: url("/fonts/Inter-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "inter-extrabold";
    src: url("/fonts/Inter-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "inter-medium";
    src: url("/fonts/Inter-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "inter-regular";
    src: url("/fonts/Inter-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "inter-semibold";
    src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
  }
}

@layer utilities {
  .line-animated {
    @apply relative text-black after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-black cursor-pointer;
  }

  .btn-outlined {
    @apply text-xl px-5 py-2 border-1 border-solid rounded-[10px] hover:cursor-pointer;
  }

  .nav-hover-btn {
    @apply font-inter-regular text-base;
  }

  .floating-nav {
    @apply rounded-lg border backdrop-blur-lg;
  }

  .hero-heading {
    @apply w-[70%] md:w-full text-[#111827] font-inter-bold text-3xl sm:right-10 lg:text-6xl;
  }

  .animated-hero-heading {
    @apply md:transform-(--hero-heading) md:origin-(--hero-heading-origin) md:will-change-(--will-change);
  }

  .animated-hero-desc {
    transform: translate(-20px, -31px);
    transform-origin: left -90% !important;
    will-change: var(--will-change);
  }

  .animated-hero-box {
    transform: translate3d(42px, -62px, -135px);
    transform-origin: top right 110px !important;
    will-change: var(--will-change);
  }

  .animated-hero-image {
    transform: translate(0, 50%);
    transform-origin: bottom right 200px !important;
    will-change: var(--will-change);
  }

  .shadow-custom-card{
    filter: drop-shadow(0px 6px 21px rgba(42, 46, 69, 0.3));
  }

  .bgblur{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

/* From Uiverse.io by JkHuger */
/* https: //uiverse.io/JkHuger/light-monkey-24 */

.loading-block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  @apply bg-hero-box w-5 h-5;
}

.loading-block:nth-child(4n+1) {
  animation: wave_23 1s ease .0s infinite;
}

.loading-block:nth-child(4n+2) {
  animation: wave_23 1s ease .2s infinite;
}

.loading-block:nth-child(4n+3) {
  animation: wave_23 1s ease .4s infinite;
}

.loading-block:nth-child(4n+4) {
  animation: wave_23 1s ease .6s infinite;
  margin-right: 0;
}

@keyframes wave_23 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 30px;
    opacity: .2;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}